.product-path{
    text-align: left;
    margin: 30px 0;
}

.product-path span:hover{
    cursor: pointer;
    text-decoration: underline;
}

.path-category{
    text-transform: capitalize;
}

.related-title{
    text-align: left;
    margin: 80px 0 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.related-box{
    background-color: rgb(213, 10, 10);
    border-radius: 4px;
    width: 14px;
    height: 30px;
}

.related-title{
    color: rgb(213, 10, 10);
    font-size: 20px;
    font-weight: 600;
}

.related-icon{
    margin-left: auto;
}

.related-icon span{
    font-size: 20px;
    margin-left: 6px;
    color: #000;
}

.related-icon span:hover{
    cursor: pointer;
    color: #db4444;
}