.cpassWrapper {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 100px;
}

.cpassImg img {
    width: 400px;
}

.form {
    padding: 20px;
    width: 400px;
}

.form h2 {
    font-weight: 700;
}

.inputWrapper h3 {
    color: #676666;
    font-size: 16px;
    margin-top: 20px;
}

.inputWrapper input {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 4px;
    margin-top: 10px;
}

.inputWrapper input:focus {
    outline: none;
}

.btnSubmitCpass {
    width: 150px;
    background-color: #db4444;
    border: none;
    color: #fff;
    padding: 16px;
    margin: 20px 0 40px;
}

.btnSubmitCpass:hover {
    cursor: pointer;
    background-color: #c63232;
}
