form{
    border: 1px solid #ccc;
    padding: 20px;
}

form h2{
    font-weight: 700;
}

.input-wrapper h3{
    color: #676666;
    font-size: 16px;
}

.input-wrapper input{
    margin-bottom: 10px;
    border: 1px solid #000;
    width: 100%;
    padding: 4px;
}

.btn-submit-cpass{
    font-weight: 600;
    color: #fff;
    background: #e0cf0b;
    border-radius: 0;
}