.home-title{
    text-align: left;
    margin: 80px 0 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.home-title-box{
    background-color: rgb(213, 10, 10);
    border-radius: 4px;
    width: 14px;
    height: 30px;
}

.home-title-title{
    color: rgb(213, 10, 10);
    font-size: 20px;
    font-weight: 600;
}

.home-title-icon{
    margin-left: auto;
}

.home-title-icon span{
    font-size: 20px;
    margin-left: 6px;
}

.home-title-icon span:hover{
    cursor: pointer;
    color: #db4444;
}

.home-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 50px;
    column-gap: 20px; 
}

.home-list-sale{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    row-gap: 50px;
    column-gap: 20px;
}

.sale-products{
    position: relative;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff0004;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 6px;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.home-top{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    /* align-items: flex-start; */
    width: 100%;
    position: relative;
}

.home-top-right {
    width: 100%;
    max-width: 940px;
    height: 400px;
    flex: 1;
}

.home-top-left {
    border-right: 1px solid #ccc;
    position: relative;
    width: 250px;
}

.home-top-left ul{
    margin: 0;
}

.home-top-left ul li{
    list-style: none;
    padding: 16px ;
}

.home-top-left ul li > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.danh-muc{
    margin-right: 0;
    font-size: 16px;
    font-weight: 500;
}

.home-top-left ul li:hover{
    background-color: #3a3b3a;
    cursor: pointer;
    color: #fff;
}

.home-top-left .submenu {
    display: none;
    position: absolute;
    top: -2px;
    left: calc(100%);
    width: calc(100% + 940px - 220px); 
    height: calc(101%);
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 10;
}

.home-top-left .submenu ul li{
    color: #000;
}

.home-top-left li:hover .submenu ul li a{
    text-decoration: none;
    color: #000;
}

.home-top-left li:hover .submenu ul li:hover{
    background-color: #fff;
}

.home-top-left li:hover .submenu ul li:hover a{
    background-color: #fff;
    color: rgb(219, 35, 35);
}

.home-top-left li:hover .submenu {
    display: block;
}

.btn-line{
    text-align: center;
    margin: 30px 0 60px;
}

.btn-more{
    background-color: #db4444;
    padding: 12px 18px;
    border-radius: 4px;
    min-width: 200px;
    color: #fff;
    border: 1px solid transparent;
}

.btn-more:hover{
    background-color: #be123c;
    cursor: pointer;
}

.btn-less{
    background-color: #9d9d9d;
    min-width: 200px;
    padding: 12px 18px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid transparent;
    margin-left: 2px;
}

.btn-less:hover{
    background-color: #5e5e5e;
    cursor: pointer;
}